<launch>

    <param name="robot_description" textfile="$(find rviz_plugin_offset_test)/urdf/test_setup.urdf" />
    <param name="robot_description_semantic" textfile="$(find rviz_plugin_offset_test)/urdf/test_setup.urdf" />

    <node name="world_to_link_A_tf_publisher" pkg="tf" type="static_transform_publisher" args="2 0 0 0 0 0 world link_A 100"/>
    <node name="joint_state_pubisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=true"/>


    <node name="planning_scene_user" pkg="rviz_plugin_offset_test" type="planning_scene_user_node" output="screen"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_plugin_offset_test)/visualization.rviz" required="true" /> 
</launch>
